@charset "UTF-8";

:root {
    /* Cores----------- */
    --cor-1:#03588C;
    --cor-2:#00ABE1;
    --cor-3:#04B2D9;
    --cor-4:#95D8E1;
    --cor-5:#00BFE9;

}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow:7px 8px 6px 0px #2d153dc9;
    
    transition: width .5s, heith .5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../img/tela.jpg) no-repeat ;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    font-size: 0.9em;
    padding: 10px;
}

section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    
}
div#formulario > p {
    font-size: 0.9em;
}

form > input[type=submit] {
    display: block;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #49a09d;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.3s;
    
}

form > input[type=submit]:hover {
    background-color: #2b5e5c;
}


form > a.botao {
    display: block;  
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #2b5e5c;
    padding-top: 8px;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #61d6d2;

    transition: .3s;
}

form > a.botao:hover {
    background-color: #69ebe6;
}

form > a.botao > span {
    font-size: 1em;
}

form > div.campo  {
    background-color: #5f2c82;
    height: 40px;
    margin: 5px 0px;
    border-radius: 5px;
}

form label {
    display: none;
}
